!!!
%html
	%head
		%title Alpha
		= stylesheet_link_tag    "application", media: "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#user
			- if current_user
				Logged in as <b>#{current_user.pseudo}</b>. #{link_to 'Log out', sessions_path, method: :delete}.
			- else
				Not logged in. Not already a member ? <b>#{link_to 'Register', new_user_path}</b> or <b>Log In</b> :
				= render 'form_login'
		= yield 